<div class="container pt-4">
  <h1 class="mb-3">Stupid Coaching</h1>
  <form class="form" method="get" action="/answer">
    <div class="form-group">
      <label for="question">Ask your coach anything</label>
      <input class="form-control" type="text" name="question" id="question">
    </div>
    <input class="btn btn-primary" type="submit" value="Ask!">
  </form>
</div>