// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question, .answer {
  border-left: 4px solid palevioletred;
  padding-left: 10px;
}

.question {
  background-color: rgb(230, 230, 230);
}

.answer {
  background-color: wheat;
}